
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>About</p>
<ul>
    <li>Author: Ethen Gonzalez</li>
    <li>Course: COMP003B</li>
    <li>Purpose: Extending an ASP.NET Core 6.0 MVC Web Application with Additional Views</li>
<ul>
