
@{
    ViewData["Title"] = "Hobbies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hobbies</h1>

<p>Hobbies List</p>
<ol>
    <li>Gaming</li>
    <li>Gym</li>
    <li>Dog</li>
    <li>Sports</li>
    <li>Friends</li>
